* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.panel {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.panel p {
  font-size: 6vw;
}
.red {background:red;}
.green {background:green;}
.blue {background:blue;}
.orange {background:orange;}